.logo{
    width: 100%;
    margin-top: -99px;

}
h1{
margin-top: -99px;
margin-left: 16%;
font-size: 40px;



}
p{
    font-size: 25px;
    margin-left: 1%;
    text-align: center;
    margin-top: 10%;

}
.p2{
    margin-top: 1px;

}
.pp{
margin-top: 1%;

}
header{
    padding: 10%;
    background-color: #1eadb8;

}
button{
    width: 100%;
    margin-top: 30%;
    border: 0;
    padding: 50px;

}